body{
    margin-top: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-right: 2em;
    padding-right: 2em;
}

#navbar{
    /*position: fixed;*/
    top: 5%;
    width: 100%;
    padding-left: 2em;
    /*padding-right: 2em;
    margin-right: 2em;*/
    background-color: rgba(31, 27, 27, 0.877);
    color: #d5b5e066;
    display:inline-block;
    z-index: 9999;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    
}

.image-container {
    position: relative;
    text-align: center;  
    font-family: above the sky script; 
}

.image-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.navbar-nav li a{
    color: white;
    margin-left: 0 auto;
    margin-right: 2em;
    
  }


#home{
    background-color: #d5b5e066;
    margin-top:1.5em;
    padding-top: 1.5em;
    margin-bottom: 2em;
    margin-right: 1em;

}

#formation{
    background-color: #d5b5e066;
    padding-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 2em;
}

#project{
    background-color: #d5b5e066;
    border-radius: 10px;
    padding-top: 2em;
    margin-bottom: 2em;
}

#contact{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#d5b5e066;
    border-radius: 10px;
}

#about{
    padding-top: 2em;
    margin-bottom: 2em;
}

#competences{
    padding-top: 2em;
    margin-bottom: 2em;
    margin-left: 3em;
}

#experience{
    padding-top: 2em;
    margin-bottom: 2em;
    border: 2px solid  #d5b5e066 ;
    border-radius: 10px;
}

h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

#who{
    border: 2px solid  #d5b5e066 ;
    border-radius: 10px;
}

#profil {
    display:inline-block;
    max-width:200px;
    background: url('assets/img/face_co.png') no-repeat;
    }

#profil a{
    display: inline-block;
    background: url('assets/img/photoProfil.jpg') no-repeat;
    }

#profil a:hover img {
    visibility: hidden;
    }
    

ul.timeline {
    list-style-type: none;
    /*position: relative;*/
    padding-left: auto;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: " ";
    background: rgb(156, 152, 152);
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: rgb(192, 190, 190);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid black;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(5, 5, 5, 0.377);
}


/* definition size et slider figures */
div#slider{ 
    width: 80%;
    max-width: 1000px;
    overflow: hidden; 
    margin-left: 20%;
}

div#slider figure img {
        width: 10%; 
        float: left; 
        height: auto;
        border: black;
    }

div#slider figure { 
    position: relative;
    width: 1000%;
    margin: 0;
    padding: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slidy infinite; 
}

@keyframes slidy {
    0% { left: 0%; }
    10% { left: -100%; }
    20% { left: -100%; }
    30% { left: -150%; }
    40% { left: -150%; }
    50% { left: -200%; }
    60% { left: -200%; }
    70% { left: -250%; }
    80% { left: -250%; }
    90% { left: -300%; }
    }
    
   
#join{
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        
    }



i.fas.fa-star{
    color: rgba(145, 42, 145, 0.356);
}

i.fas.fa-mobile-alt.fa-4x{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #817198;
}

i.far.fa-paper-plane.fa-4x{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #817198;
}

i.fas.fa-map-marked-alt.fa-4x{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #817198;
}

i.fas.fa-arrow-alt-circle-up.fa-2x{
    color: #817198;
    position: right;
}

#workflow{
    border: 2px solid   #fdecf4;
    border-radius: 10px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;

}

#frontend{
    margin-right: 20px;
    border: 2px solid   #fdecf4;
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

#backend{
    border: 2px solid   #fdecf4 ;
    border-radius: 10px;
    padding-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

#dotnet{
   /* height: 5%;*/
}

footer{
    
    background-color: #131313;
    border-radius: 10px;
    color: #FFFFFF;
}

.scrollToTop {
    position: fixed;
    color: #817198;
    padding: 9px 25px 9px 9px;
    font-size: 18px;
    border-radius: 1px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    background-color: transparent;
    font-family: "comic sans MS", georgia , sans-serif ;
    text-align: center;
  }
  .scrollToTop:hover {
    background: rgba(213, 181, 224, 0.4);
  }
  

