body{
    margin-top: 50px;;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-right: 2em;
    padding-right: 2em;
}

i.fas-fa-home{
    color: #d5b5e066;
    
}

.navbar-nav li a{
    color: white;
    margin-left: 0 auto;
    margin-right: 2em;
    
  }

section {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    margin-top: 2em;;
}

#profil {
    display:inline-block;
    max-width:200px;
    background: url('../assets/img/face_co.png') no-repeat;
    }

#profil a{
    display: inline-block;
    background: url('../assets/img/photoProfil.jpg') no-repeat;
    }

#profil a:hover img {
    visibility: hidden;
    }

#home{
    background-color: hsla(285, 41%, 79%, 0.4);
    margin-top:1.5em;
    padding-top: 1.5em;
    margin-bottom: 2em;
    margin-right: 1em;

}

#formation{
    background-color: #d5b5e066;
    border-radius: 10px;
    padding-top: 1em;
    margin-bottom: 2em;
    padding-bottom: 2em;
}

#project{
    background-color: #d5b5e066;
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 2em;
}

#contact{
    padding-top: 1em;
    padding-bottom: 20px;
    background-color:#d5b5e066;
    border-radius: 10px;
}

#about{
    padding-top: 2em;
    margin-bottom: 2em;
}

#competences{
    padding-top: 2em;
    margin-bottom: 2em;
    margin-left: 3em;
}

#experience{
    padding-top: 1em;
    margin-bottom: 2em;
    border: 5px solid  #d5b5e066 ;
    border-radius: 10px;
}

h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

#who{
    border: 5px solid  #d5b5e066 ;
    border-radius: 10px;
}

#profil {
    display:inline-block;
    max-width:200px;
    background: url('assets/img/face_co.png') no-repeat;
    }

#profil a{
    display: inline-block;
    background: url('assets/img/photoProfil.jpg') no-repeat;
    }

#profil a:hover img {
    visibility: hidden;
    }
    

ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: auto;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: " ";
    background: rgb(156, 152, 152);
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: rgb(192, 190, 190);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 5px solid rgb(99, 97, 97);
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(5, 5, 5, 0.377);
}

#slider {
    padding-bottom: 3em;
    margin-left: 3em;
    margin-right: 3em;
    border: 3px solid rgb(99, 97, 97);
    border-radius: 8px;
    background-color: #646881;
    margin-top: 2em;
    
}



#join{
        border: 5px solid black;
        border-radius: 10px;
        background-color: white;
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-bottom: 1em;
        
    }

i.fas.fa-star{
    color: rgba(145, 42, 145, 0.356);
}

i.fas.fa-mobile-alt.fa-4x{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #817198;
}

i.far.fa-paper-plane.fa-4x{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #817198;
}

i.fas.fa-map-marked-alt.fa-4x{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #817198;
}

i.fas.fa-arrow-alt-circle-up.fa-2x{
    color: #817198;
    position: right;
    
}

i.fab.fa-linkedin.fa-4x{
    text-align: center;
    color: #817198;

}

.carousel-control-next-icon { 
    height: 5em; 
    color: #817198;
}

#workflow{
    border: 5px solid   #d5b5e066;
    border-radius: 10px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;

}

#frontend{
    margin-right: 20px;
    border: 5px solid   #d5b5e066;
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

#backend{
    border: 5px solid  rgb(213, 181, 224) ;
    border-radius: 10px;
    padding-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

footer{
    
    background-color: #131313;
    border-radius: 10px;
    color: #FFFFFF;
}

.scrollToTop {
    position: fixed;
    color: #817198;
    padding: 9px 25px 9px 9px;
    font-size: 18px;
    border-radius: 1px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    background-color: transparent;
    font-family: "comic sans MS", georgia , sans-serif ;
    text-align: center;
  }
  .scrollToTop:hover {
    background: rgba(213, 181, 224, 0.4);
  }

 
#bureau{
    background-image: url(../img/bureau.png);
    background-size: cover;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
    /*margin-top: 1.2em;*/
    border-radius: 10px;
    
}

